.editor {
	height: 300px;
	position: relative;
	.code {
		height: 100%;
		>div { height: 100%; }
	}
	.preview {
		.button {
			top: 15px;
			right: 25px;
			font-size: 24px;
			position: absolute;
		}
		.view {
			display: none;
		}
	}
	.preview:hover {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		overflow: auto;
		position: absolute;
		background: #efefef;
		padding: 30px;
		.button {
			display: none;
		}
		.view {
			display: block;
		}
	}
}
