.sider {
	user-select: none;
	box-shadow: 2px 0 6px rgba(0,21,41,.35);
	.logo {
		height: 64px;
		position: relative;
		line-height: 64px;
		padding-left: 24px;
		transition: all .3s;
		background: #002140;
		overflow: hidden;
		div {
			width: 32px;
			height: 32px;
			border-radius: 16px;
			line-height: 32px;
			font-size: 26px;
			font-weight: 800;
			color: #FFF;
			background: #1E80FB;
			display: inline-block;
			text-align: center;
			vertical-align: middle;
		}
		h1 {
			color: #FFF;
			font-size: 20px;
			margin: 0 0 0 12px;
			font-weight: 600;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
