html {
	overflow-x: hidden;
} 

.box {
	padding: 0 20px;
}

.main {
	padding: 20px;
}

.logo {
	height: 64px;
	width: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.brand {
	font-size: 36px;
	padding: 0 20px;
	cursor: pointer;
	text-shadow: 0 0 2px #FFF;
}

.brand-mobi {
	font-size: 24px;
	font-weight: normal;
	vertical-align: middle;
	cursor: pointer;
	padding: 15px;
}

.brand:hover {
	text-shadow: 0 0 4px #FFF;
}

.head {
	padding: 10px;
	border-radius: 100px;
}

.head-mobi {
	height: 80px;
	width: auto;
}

.head-name {
	display: block;
	text-align: center;
}

.banner {
	line-height: normal;
	padding: 20px 0;
	margin-bottom: 5px;
	text-align: center;
    box-shadow: 0 2px 5px 0 #CCC,0 2px 10px 0 #EEE;
}

.nomargin {
	margin: 0;
}

.space {
	display: inline-block;
	height: 1px;
	width: 20px;
}

.line-legend {
	margin-top: 10px;
	text-align: center;
}
.doughnut-legend {
	margin: 0;
}
.doughnut-legend span, .line-legend span {
	display: inline-block;
	margin-right: 5px;
	width: .78rem;
	height: .78rem;
}
.doughnut-legend li, .line-legend li {
	white-space: nowrap;
}
.doughnut-legend .box, .line-legend .box {
	display: inline-block;
}

.logout {
	cursor: pointer;
}

.collection-item.more {
	text-align: center;
	cursor: pointer;
	font-weight: bolder;
	padding: 4px;
	background-color: #FFF;
	color: #777;
}

.collection-item sup {
    margin: 0 4px;
    font-size: .7rem;
}

.tag {
	display: inline-block;
}

.collection-item .tag {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
	position: relative;
	float: right;
	padding: 0 5px;
	margin: 0 2px;
}

blockquote.tags-set {
	padding-left: .8rem;
}
.tags-set .tag {
	border-radius: 2px;
	padding: 0 5px;
	margin: 0 3px 3px 0;
	cursor: pointer;
}
.tags-set .tag:hover {
	background-color: #DDD;
}
.tags-set .tag.selected {
	background-color: orange;
	color: #FFF;
}

.preloader-wrapper.tiny {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.collapsible-body {
	background-color: #FCFCFC;
}

.ritem .collection.with-header .collection-header {
	padding: 5px 0;
}
.ritem .collection.with-header .collection-item {
	padding: 5px;
}
.ritem .collection.with-header .collection-header h5 {
	margin: 10px 0 2px 0;
}

.ce-msg {
	margin: 0;
	color: red;
}

.cd h3 {
	margin: .5rem 0;
}
.cd .col {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
}
.cd .col:hover {
	text-shadow: 0 0 10px #CCC;
	transform:rotate(360deg) scale(1.5);
	-webkit-transform:rotate(360deg) scale(1.5);
	-moz-transform:rotate(360deg) scale(1.5);
	-o-transform:rotate(360deg) scale(1.5);
	-ms-transform:rotate(360deg) scale(1.5);
}

.card-content img {
    max-width: 100%;
    height: auto;
}

#myChart, #ojChart, #pChart {
	width: 100%;
}
#pLegend li {
	float: left;
	margin-right: 10px;
}

#loading {
	top: 0;
	position: fixed;
	margin-top: 0;
	margin-bottom: -4px;
}
#page_index {
	word-wrap: break-word;
}
#page_index a{
	word-wrap: normal;
	margin-right: 10px;
}

#tlist h6 {
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 5px;
}

#rlist .collapsible-header {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#rlist .collapsible-body {
	padding: 4px;
}

#p-sinput blockquote {
	border-color: #00CCFF;
}
#p-soutput blockquote {
	border-color: #33CC00;
}

#p-fab, #go-top {
	right: 2rem;
	bottom: 2rem;
}

#p-code {
	width: 100%;
	height: inherit;
	font-family: "Courier";
	resize: none;
}
#p-language {
	display: inline-block;
	margin-left: 1rem;
	width: 6rem;
}

#Problem .card :not(pre)>code {
    background-color: #FEE;
    border-radius: 5px;
    padding: 3px 5px;
    color: #F00;
}
