.markdown-body {
	.pdf {
		width: 100%;
		height: 50vh;
	}
	pre {
		padding: 0;
		code::before {
			pointer-events: auto;
			content: 'COPY';
			position: absolute;
			top: 0; right: 0;
			background: #fff;
			border-radius: 3px;
			padding: 3px 5px;
			margin: 5px;
			cursor: pointer;
			box-shadow: #ccc 1px 1px .5px;
		}
		code {
			position: relative;
			pointer-events: none;
			table {
				margin: 0;
				tr, th, td {
					padding: 0;
					border: none;
					background: none;
				}
				.hljs-ln-numbers {
					text-align: center;
					color: #ccc;
					border-right: 1px solid #999;
					vertical-align: top;
					padding-right: 5px;
					user-select: none;
				}
				.hljs-ln-code {
					padding-left: 10px;
				}
			}
		}
	}
}
